<table>
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table>

<div class="header">
  <h1>Droguería Victoria RyM</h1>
  NIT: 1144135185<br/>
  Teléfono 2089642 Celular 3216492417<br/>
  Carrera 52a # 73a-19 Santa María
</div>
<div class="footer">AWESOME FOOTER</div>
