<router-outlet name="print"></router-outlet>

<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Drogueria R&M</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzIcon="shopping" nzTitle="Ventas">
        <ul>
          <li nz-menu-item nzMatchRouter> <a routerLink="/cash-register">Caja</a>
          <li nz-menu-item nzMatchRouter> <a routerLink="/sales">Nueva</a>
        </ul>
      <li nz-submenu nzOpen nzIcon="shopping-cart" nzTitle="Productos">
        <ul>
          <li nz-menu-item nzMatchRouter> <a routerLink="/products">General</a>
          <li nz-menu-item nzMatchRouter> <a routerLink="/stocktaking">Inventario</a>
          <li nz-menu-item nzMatchRouter> <a routerLink="/purchases">Compras</a>
        </ul>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="login">
          <nz-avatar nzSize="large" nzIcon="user" class="avatar"></nz-avatar>
          <button nz-button nzType="primary" nzShape="round" data-onsuccess="onSignIn"><i nz-icon nzType="login"></i>Login</button>
        </span>
        <span>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

