<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input [(ngModel)]="searchValue" placeholder="Ingrese el producto a buscar"/>
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzShape="round" nzSearch (click)="searchProduct()"><i nz-icon nzType="search"></i></button>
</ng-template>
<br>
<br>
<nz-table #basicTable [nzData]="listOfData" nzShowPagination=false>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Valor</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.item}}</td>
      <td style="text-align:right">{{data.amount}}</td>
      <td style="text-align:right">{{data.price | currency }}</td>
      <td style="text-align:right">{{getTotalByItem(data) | currency}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th style="text-align:right"></th>
      <th style="text-align:right"></th>
      <th style="text-align:right">{{getTotal() | currency}}</th>
    </tr>
  </tfoot>
</nz-table>
<br>
<br>
<div class="buttons">
  <div>
    <button nz-button nzType="primary" nzShape="round"><i nz-icon nzType="save"></i>Guardar</button>
    <button nz-button nzType="primary" nzShape="round"><i nz-icon nzType="printer"></i>Guardar e Imprimir</button>
    <button nz-button nzType="primary" nzShape="round" nzDanger><i nz-icon nzType="clear"></i>Cancelar</button>
  </div>
</div>
